__pycache__/
.ipynb_checkpoints/
.venv/
venv/
env/
.DS_Store
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.tmp
*.log
 data/*
 !**/data/.gitkeep
html/
*.env
*.sqlite
*.db
**/node_modules/
*.joblib
06-Integración_con_el_Mundo_Real/Proyecto_1/models/fraud_model.joblib
/.git
temp_update_readmes.py